<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="false">

   <!--Define some output appenders-->
   <appender name="console" type="log4net.Appender.ColoredConsoleAppender" >
      <mapping>
         <level value="DEBUG" />
         <foreColor value="White" />
      </mapping>
      <mapping>
         <level value="INFO" />
         <foreColor value="Yellow" />
      </mapping>
      <mapping>
         <level value="WARN" />
         <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
         <level value="ERROR" />
         <foreColor value="White, HighIntensity" />
         <backColor value="Red" />
      </mapping>
      <mapping>
         <level value="FATAL" />
         <foreColor value="White, HighIntensity" />
         <backColor value="Red" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
         <conversionPattern value="%date [%thread] [%-5level] %logger{1}:%method - %message%newline" />
      </layout>
   </appender>

   <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <file value="${Solution.Name}.Console.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size" />
      <maximumFileSize value="1MB" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
         <conversionPattern value="%date [%thread] [%-5level] %logger{1}:%method - %message%newline" />
      </layout>
   </appender>

   <appender name="trace" type="log4net.Appender.TraceAppender, log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
         <conversionPattern value="%date [%thread] [%-5level] %logger{1}:%method - %message%newline" />
      </layout>
   </appender>

   <!--Setup the root category, add the appenders and set the default priority 
    http://logging.apache.org/log4net/release/sdk/log4net.Core.Level.html -->
   <root>
      <!--Change the priority to ERROR once in production.-->
      <!--priority value="OFF" /-->
      <!--priority value="FATAL" /-->
      <!--priority value="ERROR" /-->
      <!--priority value="WARN" /-->
      <priority value="INFO" />
      <!--priority value="DEBUG" /-->
      <!--priority value="ALL" /-->
      <appender-ref ref="console" />
      <appender-ref ref="rollingFile" />
      <appender-ref ref="trace" />
   </root>
</log4net>
