<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DatabaseFactoryConfiguration" type="Archivist.Data.DatabaseCreatorFactorySectionHandler, Archivist.Data, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <connectionStrings>
    <clear/>
    <add name="Archivist" providerName="System.Data.SQLite" connectionString="Data Source=G:\Programmieren\Archivist2\data\cards.s3db;Version=3;" />
    <add name="MyConnection2" providerName="MSSQL" connectionString="Driver={SQL Native Client};Server=.;Database=test;Trusted_Connection=yes;" />
  </connectionStrings>

  <DatabaseFactoryConfiguration Name="Archivist.Data.SQLiteDatabase" ConnectionStringName="Archivist" />
</configuration>