<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DatabaseFactoryConfiguration" type="Archivist.Data.DatabaseCreatorFactorySectionHandler, Archivist.Data, Culture=neutral, PublicKeyToken=null" />
  
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="Archivist.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>

  <connectionStrings>
    <clear/>
    <add name="Archivist" providerName="System.Data.SQLite" connectionString="Data Source=.\data\cards.s3db;Version=3;" />
    <add name="MyConnection2" providerName="MSSQL" connectionString="Driver={SQL Native Client};Server=.;Database=test;Trusted_Connection=yes;" />
  </connectionStrings>

  <DatabaseFactoryConfiguration Name="Archivist.Data.SQLiteDatabase" ConnectionStringName="Archivist" />
<userSettings>
        <Archivist.Properties.Settings>
                <setting name="DownloadImages" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="ShowImagesDeck" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="ShowImagesLibrary" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="ShowIconsInRule" serializeAs="String">
                        <value>False</value>
                </setting>
        </Archivist.Properties.Settings>
    </userSettings>
</configuration>